main {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  height: auto;
  background-size: cover;
  width: 100%;
}

h2 {
  margin-left: 8px;
}

h1 {
  border-bottom: 2px black solid;
  text-align: center;
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

article {
  border: 2px black solid;
  margin-inline: 10px;
}

footer {
  border-top: 2px black solid;
  text-align: center;
  margin-top: 15px;
}
